@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-blue: #88c8e2;
    --color-blue-dark: #008bc4;
    --color-gold: #f9d185;
    --color-light-gray: #eee;
    --color-dark-gray: #ddd;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: background-color 0.5s ,scale 0.5s;
    font-family: "Noto Sans", sans-serif;
    user-select: none;
    box-sizing: border-box;
}

a {
    color: black;
}

li {
    list-style-type: none;
}

input:focus, 
select:focus, 
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}

.logo{
    width: 180px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navlink:hover, .selected-nav{
    border-bottom: 2px black solid;
}


.difficulty{
    border-radius: 100px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.difficulty a{
    
    padding: 5px 10px;
    border-radius: 100px;
}

.difficulty:has(a:hover:not(.selected)){
    background-color: var(--color-gold);
}

.difficulty .selected{
background-color: black;
    color: white;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.user{
    display: flex;
    flex-direction: column;
}

.username{
    font-weight: 800;
}

.logout{
    font-size: 8pt;
    color: var(--color-blue-dark);
}

@media(max-width: 768px) {
    .navbar{
        flex-direction: column;
        gap: 30px;
    }
    .links{
        
        order: 3;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 0 30px;
        text-align: center;
        font-size: 12pt;
        white-space: nowrap;
        gap: 20px;

    }
    .links li:nth-child(3){
        margin: auto;
        grid-row: 2/span 1;
        grid-column: 1/span 4;
    }
    .navlink{
        margin: 0;
    }

    

}