main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.user-container{
    padding: 20px;
    border: 1px var(--color-dark-gray) solid;
    border-radius: 20px;
    width: 300px;
}

.user-top{
    display: flex;
    margin-bottom: 20px;
}

.back-btn{
    border: 1px var(--color-dark-gray) solid;
    border-radius: 50px;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-btn:hover{
    cursor: pointer;
    scale: 1.1;
}

.back-btn span{
    margin-left: 5px;
}

.user-logo{
    width: 200px;
    margin-bottom: 10px;
}

.user-container h2{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px var(--color-dark-gray) solid;
}

.user-container form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-container label{
    font-weight: 300;
    margin-left: 5px;
}


.field-container input{
    padding: 5px 10px;
    width: 100%;
    border-radius: 50px;
    border: 1px var(--color-dark-gray) solid;
    margin: 5px 0px;
    padding-left: 30px;
}

.field-input{
    position: relative;
    width: 100%;
}

.field-input i{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    pointer-events: none;
    color: #555;
}

.submit-btn {
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-dark-gray);
    font-weight: 600;
    transition: color 0.5s, background-color 0.5s;
}

.submit-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}